[submodule "core/AudioEffects/FFTConvolver"]
	path = core/AudioEffects/FFTConvolver
	url = https://github.com/HiFi-LoFi/FFTConvolver
[submodule "3rdparty/bgfx"]
	path = 3rdparty/bgfx
	url = https://github.com/bkaradzic/bgfx
[submodule "3rdparty/bx"]
	path = 3rdparty/bx
	url = https://github.com/bkaradzic/bx
[submodule "3rdparty/bimg"]
	path = 3rdparty/bimg
	url = https://github.com/bkaradzic/bimg
[submodule "3rdparty/link-android"]
	path = 3rdparty/link-android
	url = https://github.com/Ableton/link
[submodule "3rdparty/oboe"]
	path = 3rdparty/oboe
	url = https://github.com/google/oboe
=======
