[submodule "app/cpp/common/AudioEffects/FFTConvolver"]
	path = app/cpp/common/AudioEffects/FFTConvolver
	url = https://github.com/HiFi-LoFi/FFTConvolver
[submodule "app/cpp/AMGEngine/bgfx"]
	path = app/cpp/AMGEngine/bgfx
	url = https://github.com/bkaradzic/bgfx.git
[submodule "app/cpp/AMGEngine/bx"]
	path = app/cpp/AMGEngine/bx
	url = https://github.com/bkaradzic/bx.git
[submodule "app/cpp/AMGEngine/bimg"]
	path = app/cpp/AMGEngine/bimg
	url = https://github.com/bkaradzic/bimg.git
[submodule "app/cpp/AMGEngine/link"]
	path = app/cpp/AMGEngine/link
	url = https://github.com/Ableton/link
